@import "app/sass/reset";
@import "app/sass/header";
@import "app/sass/main_page/wellcome";
@import "app/sass/main_page/coffee_sort";

@import "app/sass/about";
@import "app/sass/footer";
body{
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}
h1, h2, h3{
  font-family: 'Source Serif Pro', serif;
}
button{
  font-weight: 700;
  padding: .375rem .75rem;
  color: #fff;
  background-color: #331a00;
  word-spacing: 2px;
  line-height: 1.5;
  border: 1px solid transparent;
  border-radius: .25rem;
  cursor: not-allowed;
}
button:hover{
  background-color: #331a0065;
}

 

  .coffee-sort-item{
    display: flex;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-radius: 2px;
    
    img{
      max-width: 300px;    
      height: auto;
      max-height: 200px;
    
    }
    .sopt-description{
      margin-left: 2rem;
    }
    h2{
      font-size: 2rem;
      line-height: 3rem;
      color: #331a00;
      
    }
    p{
      line-height: 1.5rem;
      margin-bottom: 2rem;
      overflow: hidden;
      height: 220px;
    }
    @media (max-width: 768px) {     
          flex-direction: column; 
          img{
            width: 100%;
            height: auto;
            margin: 0;
          }
          .sopt-description{
            margin: 0;
          }
    }
  }
  .coffee-sort li:nth-child(2n){
    .coffee-sort-item{
      background-color: #331a000c;
      margin-bottom: 1rem;
  }
    }
      
  .coffee-sort-item:nth-child(2n+1){
      margin-bottom: 0;
  }

  .coffee-sort-item:last-child{
    border: none;
  }
  